# Pastas a ignorar
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Ficheiros de IDE
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb

# Outras cenas
.DS_Store
*.apk
*.aab
